/*
 * Fuentes
 font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Estilo header*/
header {
  width: auto;
  height: 16vh;
  min-height: 54px;
  background-color: #2c3e50;
  margin: 0;
  box-sizing: border-box;
  padding: 4.5vh;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
header .title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
}
header div {
  display: inline;
}
.conteiner {
  margin: auto 4.5vw;
}
.menu {
  display: inline;
}
.menu-list {
  list-style: none;
  display: inline-block;
  position: relative;
  left: 64vh;
  vertical-align: middle;
  margin: 2vh;
}
.menu-list li {
  display: inline;
}
.menu-list li a {
  font-weight: 600;
  letter-spacing:1px;
  margin-left: 10px;
  vertical-align: middle;
}
.menu-list li a:hover {
  color: #18bc9c;
}
/*First Section*/
.first {
  background-color: #18bc9c;
  height: 684px;/*cambiar a vh*/
  padding-top: 8vh;
  margin: 7.3855vh 0 0 0;
  text-align: center;
}
.image-profile img {
  display: inline-block;
  margin-top: 95px;
}
.title-big {
  font-size: 76px;
  font-stretch: extra-condensed;
  font-family: 'Montserrat', sans-serif;
  margin: 26px 0 0 0;
  padding: 0;
}
.icon {
  margin: 20px 0 0 0;
  position: relative;
}
.fa-minus {
  display: inline-block;
  width: 50px;
}
i.fa-star {
  position: relative;
  display: inline-block;
  z-index: 50;
  background-color: #18bc9c;
    width: 45px;
    top: 5px;
}
.icon hr {
  width: 250px;
    position: absolute;
    bottom: 8px;
    height: 4px;
    background-color: #fff;
    left: 515px;
    top: 10px;
}
/*Second Section*/
.second {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 110px 0;
  box-sizing: border-box;
}
.second .portfolio {
  font-size: 32px;
  font-weight: 700;
  color: #212529;
}
.second  .portfolio h2 {
  margin-top: 0;
  margin-bottom: 9px;
}
.second img {
  width: 350px;
  height: 255px;
  margin: 12px;
}
.second .icon-second {
  margin-top: 0;
  margin-bottom: 13px;
}
.second .icon-second i{
  color: #2c3e50;
  background-color: #fff;

}
.second .icon-second hr {
  background-color: #2c3e50;
  color: #2c3e50;
}
















/*clases reusables*/
.text-uppercase {
  text-transform: uppercase;
}
.black {
  color: #fff;
}
.no-decoration {
  text-decoration: none;
}
.first p.black {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  height: 884px;
}
