body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Header style*/
header {
  background-color: #2c3e50;
  box-sizing: border-box;
  height: 108px;
  margin: 0;

  padding: 30.3px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
header .title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
}
header .conteiner {
  display: inline;
  margin: auto 58px;
}
/*header navigation style*/
.menu {
  display: inline;
}
.menu-list {
  display: inline-block;
  left: 35.5%;
  list-style: none;
  margin: 13.5px;
  position: relative;
  vertical-align: middle;
  word-spacing: 1px;
}
.menu-list li {
  display: inline;
}
.menu-list li a {
  font-weight: 600;
  letter-spacing:1px;
  margin-left: 10px;
  vertical-align: middle;
}
.menu-list li a:hover {
  color: #18bc9c;
}

/*First Section: profile - style */
#first {
  background-color: #18bc9c;
  height: 684px;
  margin: 49px 0 0 0;
  padding-top: 8vh;
  text-align: center;
}
.image-profile img {
  display: inline-block;
  margin-top: 101px;
}
.big-title {
  font-size: 76px;
  margin: 26.9px 0 0 0;
  padding: 0;
}
.icon {
  margin: 16.8px 0 0 0;
  position: relative;
}
.fa-minus {
  display: inline-block;
  width: 50px;
}
i.fa-star {
  background-color: #18bc9c;
  display: inline-block;
  position: relative;
  top: 5px;
  width: 45px;
  z-index: 50;
}

/*Second Section: portfolio - style */
.second {
  box-sizing: border-box;
  margin: 110px 0;
  text-align: center;
}
.second .portfolio {
  color: #212529;
  font-size: 32px;
  font-weight: 700;
}
.second .portfolio h2 {
  margin-bottom: 9px;
  margin-top: 0;
}
.second img {
  height: 255px;
  margin: 12px;
  width: 350px;
}

/*Third Section: about - style */
.third {
  background-color: #18bc9c;
  box-sizing: border-box;
  color: #fff;
  height: 580px;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}
.third .about {
  font-size: 32px;
  font-weight: 700;
}
.third .about h2 {
  margin: 3px;
  padding: 0;
}
.third .paragraph {
  padding: 0 260px 0 280px;
  text-align: left;
}
.third p {
  column-count: 2;
  column-gap: 38px;
  font-size: 20px;
  line-height: 30px;
}
.third .icon-third {
  margin-bottom: 15px;
  margin-top: 7px;
}
.download {
  border: 2px solid #fff;
  border-radius: 5px;
  height: 45px;
  left: 40.5vw;
  position: relative;
  width: 215px;
}
.download a {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  margin: 0;
  padding: 8px;
  width: 200px;
}
.download a:hover {
  background-color: #fff;
  color: #18bc9c;
  transition: all 0.3s;
}

/*fourth Section: contact me - style */

.fourth {
  height: 840px;
  margin: 0;
  padding: 0;
}
.fourth .second {
  margin-bottom: 45px;
}
.fourth form {
  padding: 0 190px 0 280px;
}
.fourth form div {
  height: 100px;
}
.fourth form input::placeholder {
  color: #868e96;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
}
.fourth form input {
  border: 1px solid #fff;
  border-bottom-color: #eee;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  height: 50px;
  padding-bottom: 20px;
  outline: 0px;
  width: 90%;
}
.fourth form .message-box {
  height: 200px;
}
.message-box .message {
  padding-bottom: 160px;
}
form .send button {
  border-radius: 5px;
  position: relative;
  top: 40px;
  width: 77px;
  height: 50px;
}
.send button {
  background-color: #18bc9c;
  border: 0;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 600;
  height: 47px;
  padding: 10px;

  outline-color: #93d3a2;
  border: 0;

  width: 80px;

}
.send button:hover {
  background-color: #128f76;
}

/*Fifth Section: footer - style*/

footer {
  background-color: #2c3e50;
  box-sizing: border-box;
  height: 345px;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer h3 {
  font-size: 28px;
  margin-top: 50px;
}
footer p {
  line-height: 30px;
}
footer .box a {
  color: #18bc9c;
  font-size: 20px;
  line-height: 30px;
}
footer p a:hover {
  color: #18bc9c;
  text-decoration: underline;
}
footer:nth-last-child(2n+1) {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
footer .conteiner {
  display: flex;
  margin-left: 92px;
}
footer .box {
  width: 28%;
}
footer .box .icon {
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  margin: 18px 2px;
  position: relative;

  top: -6px;

  width: 45px;
}
i.fa-facebook::before, i.fa-google-plus::before,
i.fa-twitter::before, i.fa-linkedin::before, i.fa-dribbble::before {
  position: relative;
  top: 8px;
}
footer .icon:hover {
  background-color: #fff;
  transition: all 0.5s;
}
footer .fa:hover {
  color: #18bc9c;
}
footer .box .fa {
  border-radius: 100px;
  height: 40px;
  position: relative;
  top: -3  px;
  width: 45px;
}
footer .box:nth-child(2){
  margin: 0 38px;
}
#copyright {
  font-size: 16px;
  position: relative;
  top: 55px;
}
/*start and 2 lines style*/
.second .icon-star {
  margin-bottom: 13px;
  margin-top: 0;
}
.second .icon-star i{
  background-color: #fff;
  color: #2c3e50;
}
.second .icon-star hr {
  background-color: #2c3e50;
  color: #2c3e50;
}
.icon hr {
  background-color: #fff;
  bottom: 8px;
  height: 4px;
  left: 40%;
  position: absolute;
  top: 10px;
  width: 250px;
}
/*reusable classes*/
.text-uppercase {
  text-transform: uppercase;
}
.white {
  color: #fff;
}
.no-decoration {
  text-decoration: none;
}
#first p.white {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  height: 884px;
}
/*Shared style*/
header, .big-title, .second, .third .about, footer h3 {
   font-family: 'Montserrat', sans-serif;
}
.third p, .download a, .fourth form, .send input, footer .box a {
  font-family: 'Lato', sans-serif;
}
